In [1]:
import pandas as pd
import numpy as np

import pickle
import random

## 1) import function

In [3]:
data_dict = pickle.load(open("../data/yf_basic_price_features.p",'rb'))

In [68]:
len(data_dict)

489

In [69]:
data_dict["A"].iloc[-144:, :]

,return,return_20,volatility_20,volume_daily_change,high_open,low_open,close_open
Date,,,,,,,
2020-08-13,0.011677,0.063644,0.014074,-0.096578,0.016094,0.003793,0.012506
2020-08-14,-0.014174,0.031790,0.014230,-0.196003,0.003860,0.015744,-0.010970
2020-08-17,0.001438,0.024157,0.014127,1.077815,0.010341,0.005938,-0.001638
2020-08-18,0.003589,0.019163,0.014038,0.009752,0.010234,0.006141,0.001535
2020-08-19,0.001022,0.016710,0.014026,0.409270,0.043789,0.007351,0.028667
...,...,...,...,...,...,...,...
2021-03-04,-0.036127,-0.058616,0.017895,0.689717,0.001180,0.045075,-0.031174
2021-03-05,0.010001,-0.063916,0.017626,-0.103872,0.002675,0.029427,0.002244
2021-03-08,-0.000517,-0.057639,0.017609,0.133156,0.022784,0.008942,-0.001977
2021-03-09,0.032391,-0.028928,0.019280,-0.171872,0.029863,0.002800,0.016713
2021-03-10,0.001252,-0.026371,0.019288,-0.155602,0.013434,0.007463,-0.004976

In [7]:
def compute_finance_labels(df, shift=1):
    
    n = len(df.columns)
    
    df["label t"] = df["return"].apply(lambda x: 1. if x > 0 else 0.)
    df["label t+1"] = df["return"].shift(-shift).apply(lambda x: 1. if x > 0 else 0.)
    
    # removing last shift rows as there labels can not be computed
    df = df.iloc[:-shift]
    
    nr_labels = len(df.columns) - n
    
    return df, nr_labels

In [12]:
def get_data_finance(path="../data/yf_basic_price_features.p", N_train=400, T=144):
    
    data = pickle.load(open(path,'rb'))
    
    random.seed(42)
    train_companies = random.sample(list(data.keys()), N_train)
    eval_companies = [x for x in list(data.keys()) if x not in train_companies]
    
    train_data, train_labels = [], []
    for i, comp in enumerate(train_companies):
        # print(i, comp)
        data_comp, nr_labels = compute_finance_labels(data[comp])
        train_data.append(data_comp.iloc[-T:, :-nr_labels].values)
        train_labels.append(data_comp.iloc[-T:, -nr_labels:].values)
    train_data = np.stack(train_data)
    train_labels = np.stack(train_labels)
        
    eval_data, eval_labels = [], []
    for comp in eval_companies:
        data_comp, nr_labels = compute_finance_labels(data[comp])
        eval_data.append(data_comp.iloc[-T:, :-nr_labels].values)
        eval_labels.append(data_comp.iloc[-T:, -nr_labels:].values)
    eval_data = np.stack(eval_data)
    eval_labels = np.stack(eval_labels)
        
    return train_data, eval_data, train_labels, eval_labels

In [13]:
a, b, c, d = get_data_finance()

0 NVDA
1 BEN
2 ADSK
3 RL
4 DXCM
5 DIS
6 CVS
7 CAG
8 RHI
9 BA
10 PFE
11 ZBH
12 VRTX
13 MAR
14 ATO
15 MS
16 HST
17 AFL
18 AES
19 AVGO
20 CTLT
21 DE
22 LB
23 MU
24 AEE
25 MET
26 COG
27 PVH
28 O
29 POOL
30 WU
31 HRL
32 CTSH
33 IP
34 MRO
35 EBAY
36 TDY
37 URI
38 ABBV
39 SBUX
40 TAP
41 CE
42 PNR
43 WRB
44 FIS
45 VNO
46 CDNS
47 CTAS
48 SEE
49 FE
50 XLNX
51 WM
52 GPN
53 AWK
54 FTNT
55 TXN
56 FITB
57 MXIM
58 DTE
59 TDG
60 ALGN
61 RE
62 IT
63 LVS
64 BLK
65 GPC
66 APD
67 MCHP
68 ENPH
69 NOW
70 NKE
71 GE
72 MNST
73 CNC
74 PPG
75 ANSS
76 ALK
77 OXY
78 D
79 SLG
80 EMN
81 TMUS
82 WHR
83 AZO
84 UAA
85 UNP
86 IQV
87 NTRS
88 GILD
89 CF
90 GLW
91 FRC
92 CRM
93 PEAK
94 DUK
95 VZ
96 PGR
97 NWSA
98 ANTM
99 NDAQ
100 SRE
101 CHTR
102 LUV
103 TSCO
104 XYL
105 SPG
106 ITW
107 STX
108 DVN
109 ZTS
110 PKG
111 MDLZ
112 WY
113 PH
114 FANG
115 AMD
116 DAL
117 WMT
118 EXC
119 HES
120 DVA
121 AMZN
122 CSCO
123 MKC
124 QCOM
125 WAT
126 OMC
127 KR
128 HBI
129 NWL
130 ISRG
131 CAT
132 TT
133 XRAY
134 DISCA
135 WDC
136 LYB
137 DRI
138 MPWR
139 IBM
140 MPC
141 HD
142 TFC
143 RF
144 C
145 LEG
146 KMI
147 AVB
148 ALL
149 BDX
150 CCL
151 TGT
152 V
153 VLO
154 MSI
155 AMT
156 GS
157 GPS
158 OKE
159 JBHT
160 LOW
161 DISH
162 MCK
163 ABMD
164 BIIB
165 TROW
166 SLB
167 UPS
168 ZION
169 TJX
170 IEX
171 CDW
172 STE
173 AAP
174 PHM
175 KSU
176 CLX
177 LDOS
178 BAX
179 EQIX
180 SCHW
181 WBA
182 T
183 GOOG
184 CERN
185 LYV
186 LRCX
187 A
188 F
189 KLAC
190 ADI
191 NOV
192 XEL
193 ETR
194 DGX
195 AME
196 DHI
197 PSX
198 SWKS
199 ARE
200 KHC
201 TSN
202 LUMN
203 BLL
204 BMY
205 JNPR
206 MCD
207 CFG
208 PNC
209 NVR
210 PRGO
211 PRU
212 MSCI
213 COO
214 EVRG
215 PFG
216 NWS
217 ILMN
218 LIN
219 IPGP
220 BKNG
221 PLD
222 CVX
223 ODFL
224 FFIV
225 ADM
226 RCL
227 PEP
228 VIAC
229 ULTA
230 AMGN
231 LH
232 ANET
233 QRVO
234 ICE
235 TMO
236 AIZ
237 DOV
238 BK
239 PM
240 FDX
241 DHR
242 NCLH
243 RMD
244 PWR
245 MO
246 SJM
247 INCY
248 EIX
249 EL
250 DG
251 BKR
252 HAS
253 J
254 HFC
255 COST
256 AVY
257 PAYX
258 LNT
259 FB
260 UNH
261 CL
262 MA
263 CPB
264 SWK
265 IDXX
266 SPGI
267 WEC
268 UHS
269 FAST
270 MRK
271 ALLE
272 WMB
273 COP
274 NLSN
275 CHRW
276 RTX
277 AMAT
278 TRMB
279 TYL
280 TFX
281 PXD
282 XRX
283 PKI
284 INFO
285 PBCT
286 KIM
287 DD
288 HOLX
289 AJG
290 CTXS
291 YUM
292 HSY
293 ZBRA
294 REG
295 K
296 SYK
297 VAR
298 REGN
299 APTV
300 IRM
301 KEYS
302 MLM
303 KEY
304 RJF
305 MAA
306 SO
307 CMS
308 VRSK
309 CNP
310 BSX
311 SYY
312 USB
313 HPE
314 STT
315 FBHS
316 GIS
317 APA
318 HII
319 CBOE
320 BBY
321 AEP
322 SYF
323 TPR
324 TXT
325 NLOK
326 SIVB
327 SHW
328 EMR
329 MMM
330 WYNN
331 MAS
332 MKTX
333 EXPD
334 DLTR
335 AKAM
336 UAL
337 AIG
338 EOG
339 GM
340 HSIC
341 WFC
342 EFX
343 ROL
344 LHX
345 EQR
346 SNA
347 DRE
348 EXPE
349 BR
350 UDR
351 WAB
352 LNC
353 FLS
354 MTD
355 JPM
356 CBRE
357 L
358 HIG
359 PCAR
360 AAPL
361 KMB
362 UNM
363 CAH
364 PSA
365 PG
366 BWA
367 HON
368 XOM
369 EA
370 PPL
371 WST
372 LEN
373 ADBE
374 FLIR
375 AMP
376 TTWO
377 WELL
378 ECL
379 PAYC
380 CPRT
381 BXP
382 INTC
383 AOS
384 MTB
385 ROK
386 ROP
387 TER
388 NI
389 CHD
390 PEG
391 JKHY
392 KMX
393 IFF
394 NOC
395 WRK
396 ESS
397 CMG
398 TEL
399 HAL

In [77]:
a.shape

(400, 144, 7)

In [78]:
b.shape

(89, 144, 7)

In [79]:
c.shape

(400, 144, 2)

In [80]:
d.shape

(89, 144, 2)

## 2) BIIB

train index 164 that was causin nan loss in VAE pretraining

In [4]:
data_dict = pickle.load(open("../data/yf_basic_price_features.p",'rb'))

In [25]:
data_dict["BIIB"].describe()

,return,return_20,volatility_20,volume_daily_change,high_open,low_open,close_open
count,1247.000000,1247.000000,1247.000000,1247.000000,1247.000000,1247.000000,1247.000000
mean,0.000420,0.005424,0.022479,12.488601,0.012839,0.012509,-0.000079
std,0.028084,0.094571,0.017388,436.665403,0.019031,0.011337,0.020401
min,-0.292305,-0.333876,0.008029,-0.999882,0.000000,0.000000,-0.090742
25%,-0.009313,-0.042771,0.013748,-0.204212,0.004229,0.004715,-0.009889
50%,0.000322,0.002164,0.017294,-0.013406,0.009246,0.009812,-0.000554
75%,0.009913,0.048180,0.023058,0.237472,0.016430,0.016985,0.008541
max,0.439739,0.363922,0.122687,15420.000000,0.437283,0.099484,0.404542

In [27]:
biib = data_dict["BIIB"]
biib[biib["volume_daily_change"] == 15420.]

,return,return_20,volatility_20,volume_daily_change,high_open,low_open,close_open
Date,,,,,,,
2020-11-09,-0.281666,-0.189447,0.122386,15420.0,0.037605,0.032796,0.023568

In [28]:
data_dict["A"].describe()

,return,return_20,volatility_20,volume_daily_change,high_open,low_open,close_open
count,1247.000000,1247.000000,1247.000000,1247.000000,1247.000000,1247.000000,1247.000000
mean,0.001065,0.021185,0.014832,0.082875,0.009474,0.009389,0.000196
std,0.016556,0.060478,0.007571,0.481122,0.009021,0.009239,0.012717
min,-0.110117,-0.257638,0.005181,-0.694553,0.000000,0.000000,-0.051347
25%,-0.005798,-0.015190,0.010369,-0.210729,0.003644,0.003144,-0.006376
50%,0.001528,0.026560,0.013151,-0.018878,0.007199,0.006610,0.000362
75%,0.009132,0.060964,0.016427,0.255337,0.012423,0.012609,0.007234
max,0.098394,0.238243,0.059881,4.678461,0.075921,0.070509,0.066950